<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on }">
      <v-btn fixed dark fab bottom right v-on="on" color="pink">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline mb-5">Relève compteur</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
          <v-dialog
            ref="dialog"
            v-model="modal"
            :return-value.sync="date"
            persistent
            width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                outlined
                v-model="date"
                label="Mois"
                readonly
                v-on="on"
                required
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              @input="$refs.dialog.save(date)"
              locale="fr-fr"
              type="month"
            >
            </v-date-picker>
          </v-dialog>
          <v-text-field
            outlined
            v-model="electricite"
            :rules="validationRules"
            label="Electricité"
            type="number"
            required
          ></v-text-field>
          <v-text-field
            outlined
            v-model="gaz"
            :rules="validationRules"
            label="Gaz"
            type="number"
            required
          ></v-text-field>
          <v-btn block color="primary" @click="validate" :disabled="!valid">
            Enregistrer
            <v-icon right dark>mdi-cloud-upload</v-icon>
          </v-btn>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="dialog = false"
          >Annuler</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { db } from '../db'
import moment from 'moment'
moment.locale('fr')

export default {
  name: 'AddForm',

  data: () => ({
    dialog: false,
    valid: true,
    lazy: false,
    modal: false,

    date: new Date().toISOString().substr(0, 7),
    electricite: '',
    gaz: '',

    validationRules: [v => !!v || 'Une valeur est requise']
  }),

  methods: {
    validate() {
      db.ref('2020').push({
        date: this.date,
        formatedDate: moment(this.date).format('MMMM YYYY'),
        electricite: this.electricite,
        gaz: this.gaz
      })
      this.date = new Date().toISOString().substr(0, 7)
      this.electricite = ''
      this.gaz = ''
      this.dialog = false
    }
  }
}
</script>

<style></style>
