<template>
  <v-container>
    <v-row>
      <v-col>
        <v-expansion-panels>
          <v-expansion-panel v-for="releve in releves" :key="releve['key']">
            <v-expansion-panel-header>
              <v-icon class="date-icon">mdi-calendar-check</v-icon>
              <span class="text-capitalize font-weight-bold">
                {{ releve.formatedDate }}
              </span>
              <span class="font-weight-bold text--secondary text-right mr-3">
                @Todo €
              </span>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="text-center">
              <div>
                <span class="title text--disabled">2020</span>
              </div>
              <v-row>
                <v-col>
                  <v-icon color="black" size="30">mdi-flash</v-icon>
                  <span class="headline">{{ releve.electricite }}</span>
                  <small class="text--secondary ml-1"> Kwh</small>
                  <br />
                  <v-chip class="ma-2" color="success" small>
                    - @Todo%
                  </v-chip>
                </v-col>
                <v-col>
                  <v-icon color="black" size="30">mdi-fire</v-icon>
                  <span class="headline">{{ releve.gaz }}</span>
                  <small class="text--secondary ml-1"> m<sup>3</sup></small>
                  <br />
                  <v-chip class="ma-2" color="error" small>
                    + @Todo%
                  </v-chip>
                </v-col>
              </v-row>
              <v-btn text small color="error" @click="remove(releve['.key'])">
                Supprimer
              </v-btn>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { db } from '../db'
export default {
  name: 'DisplayData',

  data: () => ({
    prix_elec: 0.15356,
    abo_elec: 117.56 / 12,
    prix_gaz: 0.0681,
    abo_gaz: 217.73 / 12,
    releves: []
  }),

  firebase: {
    releves: db.ref('2020').orderByChild('date')
  },

  methods: {
    remove(key) {
      db.ref('2020/' + key).remove()
    }
  }
}
</script>

<style>
.date-icon {
  flex: inherit !important;
  margin-right: 20px;
}

.v-expansion-panel-content i.v-icon {
  display: block;
  margin: 0 auto 15px;
}

.v-expansion-panel[aria-expanded='false'] {
  opacity: 0.8;
}
</style>
