<template>
  <v-app>
    <v-content>
      <h1 class="headline text-center mt-5">Conso Energie</h1>
      <AddForm />
      <DisplayData />
    </v-content>
  </v-app>
</template>

<script>
import AddForm from './components/AddForm'
import DisplayData from './components/DisplayData'

export default {
  name: 'App',

  components: {
    AddForm,
    DisplayData
  },

  data: () => ({
    //
  })
}
</script>

<style>
body {
  overflow-x: hidden;
}

.theme--light.v-application {
  background: linear-gradient(#4d5377, #11163a) !important;
}

h1 {
  color: white;
}
</style>
